<h1 class="clover-center md-display-3">My week</h1>
<div layout="column">
    <div layout="row" class="cloverfield-day-row" ng-repeat="day in $ctrl.weekTest">

        <!--<calender flex="50" planning="day"></calender>-->
        <!--<meal flex="50" planning="day"></meal>-->
        <calender
                class="full-width"
                planning="day"
                ng-if="!day.recipe">
        </calender>
        <meal
                class="full-width"
                planning="day"
                ng-if="!!day.recipe">
        </meal>
    </div>
</div>