<h1>My week</h1>
<div layout="column">
    <div layout="row" class="cloverfield-day-row" ng-repeat="day in $ctrl.week">

        <!--<calender flex="50" planning="day"></calender>-->
        <!--<meal flex="50" planning="day"></meal>-->

        <calender
                class="full-width"
                planning="day"
                ng-if="!day.planning.recipe">
        </calender>
        <meal
                class="full-width"
                planning="day"
                ng-if="!!day.planning.recipe">
        </meal>
    </div>
</div>