.pull-right {
    float: right;
}

.cloverfield-day-row {
    max-width: 800px;
    width: 100%;
}

@media (max-width: 600px) {
    .cloverfield-adaptive-width {
        max-width: 800px;
        width: 100%;
    }
}
@media (min-width: 600px) {
    .cloverfield-adaptive-width {
        width: 600px;
    }
}

.full-width {
    width: 100%;
}

.cloverfield-image {
    min-height: 150px;
}

.cloverfield-background-image-text {
    color: white;
}

/* http://maketea.co.uk/2013/12/16/smooth-text-overlays-with-css-transforms.html */
.caption {
    position: relative;
    overflow: hidden;
}
.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}
.caption__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    transform: translateY(100%);
    transition: transform .35s ease-out;
}
.caption:hover .caption__overlay {
    transform: translateY(0);
}
