<md-card class="">
    <md-card-header class="">
        <md-card-header-text layout="row" layout-align="space-between stretch">
            <md-title class="md-title" layout="row">
                <strong>{{$ctrl.planning.weekday}}</strong>
            </md-title>
            <md-title class="md-title" layout="row" layout-align="end center">
                <span>{{ $ctrl.planning.day | date : 'mediumDate' }}</span>
            </md-title>
        </md-card-header-text>
    </md-card-header>

    <md-card-content layout="column" layout-align="space-between stretch">
        <div ng-repeat="event in $ctrl.planning.calenderEvents" layout="row" layout-align="space-between stretch">
            <strong>{{event.time}}</strong>&nbsp;&nbsp;
            <span>{{event.summary}}</span>
        </div>
    </md-card-content>

    <md-card-actions layout="row" layout-align="start center">
        <md-card-icon-actions>
            <md-button class="md-fab" aria-label="Need food" ng-click="$ctrl.needFood()">
                <md-icon md-svg-src="img/icons/restaurant.svg"></md-icon>
            </md-button>
        </md-card-icon-actions>
    </md-card-actions>

</md-card>