
<ul>
    <li ng-repeat="day in $ctrl.week">
        <button class="delete" ng-click="$ctrl.removeRecipe(day)">&times;</button>
        <button class="change" ng-click="$ctrl.changeRecipe(day)">
        <span class="text">
            <strong>{{day.recipe.name}}</strong> - {{day.recipe.personCount}} Persons
        </span>
        <button  ng-click="$ctrl.decreasePersons(day)">
            -
        </button>
        <button ng-click="$ctrl.increasePersons(day)">
            +
        </button>
    </li>
</ul>