<div layout="row" layout-align="space-between center">
    <div>
        <p>{{ $ctrl.ingredient.structured.ingredient }}</p>
    </div>
    <div>
        <md-button class="md-fab md-mini">
            <md-icon md-svg-src="img/icons/euro_symbol.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini">
            <md-icon md-svg-src="img/icons/local_florist.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini">
            <md-icon md-svg-src="img/icons/star_rate.svg"></md-icon>
        </md-button>
    </div>
</div>