<div layout="column" layout-align="center center" layout-padding style="">

    <md-card ng-click="ctrl.loginWithGoogle()" class="cloverfield-adaptive-width" style="padding: 0">
        <img class="md-card-image" ng-src="../images/logo_tekst.png" />
        <img class="md-card-image" ng-src="../images/logo_enkel.png" />
        <md-button class="md-accent md-raised md-hue-3"  ng-click="ctrl.loginWithGoogle()" style="background-color:#e04344;margin:0;height: 80px">Join now</md-button>
    </md-card>

</div>