<div layout="column" layout-align="center center" layout-padding style="">

    <md-card ng-click="ctrl.loginWithGoogle()" class="cloverfield-adaptive-width" style="padding: 0">
        <md-button class="md-accent md-raised md-hue-3" ng-click="ctrl.loginWithGoogle()" layout="row"
                   layout-align="center center" style="font-size:2em;background-color:#e04344;margin:0;height: 80px">
            <span>Sign in with</span>&nbsp;
            <div>
                <img class="png-icon" src="images/gplus-icon.png"/>
            </div>
        </md-button>
        <img class="md-card-image" ng-src="../images/logo_tekst.png"/>
        <img class="md-card-image" ng-src="../images/logo_enkel.png"/>
    </md-card>

</div>